<!-- 
<button mat-raised-button color="accesst" (click)="Nvegation()">Atras</button>
<mat-card>
  <mat-progress-spinner value="30">
  </mat-progress-spinner>
  <mat-spinner *ngIf="showSpinner"></mat-spinner>
  <button mat-raised-button *ngIf="!showSpinner" (click)="LoadSpinner()" >Mostrar</button>
  <button mat-raised-button *ngIf="showSpinner" (click)="LoadSpinner()" >Ocultar</button>
</mat-card> -->
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-4">
     <form>
       <div class="mb-3">
         <label for="exampleInputEmail1" class="form-label">Email address</label>
           <input type="email" matInput class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
         <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
       </div>
       <div class="mb-3">
         <label for="exampleInputPassword1" class="form-label">Password</label>
         <input type="password" matImput class="form-control" id="exampleInputPassword1">
       </div>
       <div class="mb-3 form-check">
         <input type="checkbox" class="form-check-input" id="exampleCheck1">
         <label class="form-check-label" matImput for="exampleCheck1">Check me out</label>
       </div>
       <button type="submit" class="btn btn-primary">Submit</button>
     </form>
    </div>
    <div class="col-12 col-lg-4">
      <h3 class="text-success ">lorem upsum sit amnt contenert</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quisquam fugiat 
        earum aperiam accusantium consequatur ullam corporis, magnam sunt quis. 
        Accusamus, maxime enim voluptatem repellat perferendis ex illum quisquam fugit.
       </p>
    </div>
   </div>
</div>